<!DOCTYPE html>
<html>
<head>
    <title>Hotel patito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/form-d.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/css/font-awesome.css" rel="stylesheet">



    <!-- jQuery -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!--js -->
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- morris JavaScript -->
    <script src="~/js/raphael-min.js"></script>
    <script src="~/js/morris.js"></script>
</head>
<body>
    <div class="page-container.sidebar-collapsed-back">
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-tachometer"></i> <span>Home</span><div class="clearfix"></div></a></li>

                    <li id="menu-academico"><a href="@Url.Action("About", "Home")"><i class="fa fa-picture-o"></i><span>Sobre Nosotros</span><div class="clearfix"></div></a></li>
                    @*<li id="menu-academico"><a href="@Url.Action("Index", "Home")"><i class="fa fa-envelope nav_icon"></i><span>Create admin (prueba)</span><div class="clearfix"></div></a></li>*@
                    <li><a href="@Url.Action("PaginaUnoFacilidades", "Facilidades")"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Facilidades</span><div class="clearfix"></div></a></li>
                    @*<li><a href="@Url.Action("PaginaUnoFacilidades", "Facilidades")"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Facilidades</span><div class="clearfix"></div></a></li>*@
                    <li id="menu-academico"><a href="@Url.Action("Index", "Contactenos")"><i class="fa fa-envelope nav_icon"></i><span>Contactenos</span><div class="clearfix"></div></a></li>
                    @*<li id="menu-academico"><a href="@Url.Action("Index", "Home")"><i class="fa fa-bar-chart"></i><span>Contactenos</span><div class="clearfix"></div></a></li>*@
                    <li id="menu-academico"><a href="@Url.Action("Tarifas", "Home")"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Tarifas</span><div class="clearfix"></div></a></li>
                    <li><a href="@Url.Action("BuscaHabitacion", "Reservar")"><i class="fa fa-table"></i>  <span>Reservar en linea</span><div class="clearfix"></div></a></li>
                    <li><a href="@Url.Action("ComoLlegar", "Home")"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Como Llegar?</span><div class="clearfix"></div></a></li>
                    <li><a href="@Url.Action("Create", "Administrador", new { login = true })"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Iniciar sesion</span><div class="clearfix"></div></a></li>
                </ul>

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        <a href="https://www.google.com">
                            <img src="~/images/publi2.jpg" style="width:100%">
                        </a>
                        <div class="text"></div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext"></div>
                        <a href="https://www.google.com">
                            <img src="~/images/publi3.jpg" style="width:100%">
                        </a>
                        <div class="text"></div>
                    </div>

                </div>
                <br>

                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>

                <!--Script encargado del movimiento del slider-->
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }//1er for i
                        slideIndex++;
                        if (slideIndex > slides.length) { slideIndex = 1 }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }//2do for i
                        slides[slideIndex - 1].style.display = "block";
                        dots[slideIndex - 1].className += " active";
                        setTimeout(showSlides, 2000); // Change image every 2 seconds
                    }//end function
                </script>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">
                <div class="logo-w3-agile">
                    <img style="width:150px; height:150px" src="~/images/Logo 2.PNG">
                </div>
                <div class="w3layouts-left">

                    <!--search-box-->
                    <div class="w3-search-box" style="text-align:center">
                        <h1 style="color:white">HOTEL PATITO</h1>
                    </div><!--//end-search-box-->
                    <div class="clearfix"> </div>
                </div>



                <div class="clearfix"> </div>
            </div>

            @RenderBody()
        </div>
        <!--//w3-agileits-pane-->
        <!--inner block start here-->
        <div class="inner-block">

        </div>
        <!--inner block end here-->
        <div class="copyrights">
            <h4 style="color:white">Copyright©Hotel Patito 2018</h4>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
