@model HotelPatito.Models.Tipadas.HabitacionDisponible
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .button {
        background-color: #0738f7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<script>
    $('#target').hide(0);
    $('.target').hide("fast");
</script>

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon; text-align:center;">Reservar en Línea</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <div>
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5" style="text-align:center">
                            <header class="agileits-box-header clearfix">
                                <h3 style="color:blue;font-style:italic;">Resultado: </h3>
                            </header>
                        </div>
                        <div class="col-md-7">
                            <br />
                            <p style="color:blue;text-align:center;">
                                @Model.mensaje
                            </p>
                            <br />
                            <p style="color:blue;text-align:center;">
                                Fecha de llegada: @Model.fechaInic
                                Fecha de Salida: @Model.fechaFin
                            </p>
                        </div>

                    </div>
                    <br><br>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <div>
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5" style="text-align:center">
                            @if (Model.tipoHabitacion.nombre_Tipo_Habitacion == "Suite")
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenSuite.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }
                            else if(Model.tipoHabitacion.nombre_Tipo_Habitacion == "Standard")
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenStandard.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }
                            else
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenJunior.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }
                           
                        </div>
                        <div class="col-md-7">
                            <br />
                            <p style="color:blue;text-align:center;">
                                <h4>Numero de habitacion: @Model.habitacion.numero_Habitacion</h4>
                                <br />
                                @Model.tipoHabitacion.descripcion_Tipo_Habitacion
                            </p>
                        </div>

                    </div>
                    <br><br>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>

<div id="fh5co-wrap">
    <div class="fh5co-section">
        <div class="container">



            <div style="text-align:center">
                <br />
                <input type="button" class="button" id="mostrar" name="mostrar" value="Reservar">
                <input type="button" class="button" id="ocultar" name="mostrar" value="Cancelar">

            </div>
            <div style="margin:0 auto;text-align: center;">
                <br />
                <br />
                <div id="target" style="display:none; margin-left:auto; margin-right:auto;align-items:center;">
                    <div class="fh5co-section">
                        <div class="container">
                            <div class="row" style="left:300px;top:15px">
                                <label for="cedula" class="col-sm-5 control-label" style="width:100px">Cédula:</label>
                                <input type="text" class="form-control col-sm-5" style="width:400px" id="cedula" name="cedula" placeholder="Cédula" required>
                            </div>
                            <br />
                            <div class="row" style="left:300px;top:15px">
                                <label for="nombre" class="col-sm-5 control-label" style="width:100px">Nombre:</label>
                                <input type="text" class="form-control col-sm-5" style="width:400px" id="nombre" name="nombre" placeholder="Nombre" required>
                            </div>
                            <br />
                            <div class="row" style="left:300px;top:15px">
                                <label for="apellido" class="col-sm-5 control-label" style="width:100px">Apellido:</label>
                                <input type="text" class="form-control col-sm-5" style="width:400px" id="apellido" name="apellido" placeholder="Apellido" required>
                            </div>
                            <br />
                            <div class="row" style="left:300px;top:15px">
                                <label for="email" class="col-sm-5 control-label" style="width:100px">Correo:</label>
                                <input type="email" class="form-control col-sm-5" style="width:400px" id="email" name="email" placeholder="Email" required>
                            </div>
                            <br />
                            <div class="row" style="left:300px;top:15px">
                                <label for="tarjeta" class="col-sm-5 control-label" style="width:170px">Numero de tarjeta:</label>
                                <input type="text" class="form-control col-sm-5" style="width:330px" id="tarjeta" name="tarjeta" placeholder="Numero de Tarjeta" required>
                            </div>
                            <br />
                            <div style="text-align:center">
                                <br />
                                <input type="button" class="button" value="Reservar">
                            </div>
                        </div>

                    </div>
                    <br /><br />

                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#mostrar").click(function () {
            $('#target').show(3000);
            $('.target').show("slow");
        });
        $("#ocultar").click(function () {
            $('#target').hide(3000);
            $('.target').hide("fast");
        });
    });
</script>

