
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .button {
        background-color: #0738f7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<style>
    /*Estilo para los modals de notificaciones*/
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<script>
    $('#target').hide(0);
    $('.target').hide("fast");
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon; text-align:center;">Reservar en Línea</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <div>
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5" style="text-align:center">
                            <header class="agileits-box-header clearfix">
                                <h3 style="color:blue;font-style:italic;">Resultado: </h3>
                            </header>
                        </div>
                        <div class="col-md-7">
                            <br />
                            <p style="color:blue;text-align:center;">
                                @Model.mensaje
                            </p>
                            <br />
                            <p style="color:blue;text-align:center;">
                                Fecha de llegada: @Model.fechaInic
                                Fecha de Salida: @Model.fechaFin
                            </p>
                        </div>

                    </div>
                    <br><br>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <div>
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5" style="text-align:center">
                            @if (Model.tipoHabitacion.nombre_Tipo_Habitacion == "Suite")
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenSuite.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }
                            else if (Model.tipoHabitacion.nombre_Tipo_Habitacion == "Standard")
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenStandard.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }
                            else
                            {
                                var base64ImagenHabitacion = Convert.ToBase64String(Model.imagenJunior.imagen_Imagen);
                                var imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
                                <img src="@imgSrcImagenHabitacion" width="400" height="400" class="img-responsive">
                            }

                        </div>
                        <div class="col-md-7">
                            <br />
                            <p style="color:blue;text-align:center;">
                                <h4>Numero de habitacion: @Model.habitacion.numero_Habitacion</h4>
                                <br />
                                @Model.tipoHabitacion.descripcion_Tipo_Habitacion
                            </p>
                        </div>

                    </div>
                    <br><br>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>

<div id="fh5co-wrap">
    <div class="fh5co-section">
        <div class="container">



            <div style="text-align:center">
                <br />
                <input type="button" class="button" id="mostrar" name="mostrar" value="Reservar">
                <input type="button" class="button" id="ocultar" name="mostrar" value="Atras">

            </div>
            <form name="formulario" action="@Url.Action("HacerReservacion","Reservar")" method="post">
                <div style="margin:0 auto;text-align: center;">
                    <br />
                    <br />
                    <div id="target" style="display:none; margin-left:auto; margin-right:auto;align-items:center;">
                        <div class="fh5co-section">
                            <div class="container">
                                <div class="row" style="left:300px;top:15px">
                                    <label for="cedula" class="col-sm-5 control-label" style="width:100px">Cédula:</label>
                                    <input type="text" class="form-control col-sm-5" style="width:400px" id="cedula" name="cedula" placeholder="Cédula" required>
                                    <script type="text/javascript">
                                        $("#cedula").mask("9-9999-9999");
                                    </script>
                                </div>
                                <br />
                                <div class="row" style="left:300px;top:15px">
                                    <label for="nombre" class="col-sm-5 control-label" style="width:100px">Nombre:</label>
                                    <input type="text" class="form-control col-sm-5" style="width:400px" id="nombre" name="nombre" placeholder="Nombre" required>
                                </div>
                                <br />
                                <div class="row" style="left:300px;top:15px">
                                    <label for="apellido" class="col-sm-5 control-label" style="width:100px">Apellido:</label>
                                    <input type="text" class="form-control col-sm-5" style="width:400px" id="apellidos" name="apellidos" placeholder="Apellido" required>
                                </div>
                                <br />
                                <div class="row" style="left:300px;top:15px">
                                    <label for="email" class="col-sm-5 control-label" style="width:100px">Correo:</label>
                                    <input type="email" class="form-control col-sm-5" style="width:400px" id="email" name="email" placeholder="Email" required>
                                </div>
                                <br />
                                <div class="row" style="left:300px;top:15px">
                                    <label for="tarjeta" class="col-sm-5 control-label" style="width:170px">Numero de tarjeta:</label>
                                    <input type="text" class="form-control col-sm-5" style="width:330px" id="tarjeta" name="tarjeta" placeholder="Numero de Tarjeta" required>
                                </div>
                                <div class="row" style="left:300px;top:15px">
                                    <input type="hidden" class="form-control col-sm-5" style="width:330px" id="habitacion" name="habitacion" value="@Model.habitacion.numero_Habitacion" >
                                </div>
                                <div class="row" style="left:300px;top:15px">
                                    <input type="hidden" class="form-control col-sm-5" style="width:330px" id="fechaLlegada" name="fechaLlegada" value="@Model.fechaInic">
                                </div>
                                <div class="row" style="left:300px;top:15px">
                                    <input type="hidden" class="form-control col-sm-5" style="width:330px" id="fechaSalida" name="fechaSalida" value="@Model.fechaFin">
                                </div>
                                <br />
                                <div style="text-align:center">
                                    <br />
                                    <input type="submit" class="button" value="Reservar" onclick="pagar();">
                                    <input type="button" class="button" id="ocultar" name="mostrar" value="Cancelar">
                                </div>
                            </div>

                            @* Modal *@

                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>Procesando Transacción....</p>
                                    <img src="../images/espera.png">
                                </div>
                            </div>

                            <div id="myModal2" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <p>El pago ha sido realizado con éxito!!!... Redireccionando...</p>
                                    <img src="../images/listo.png">
                                </div>
                            </div>
                            <script>
                                var modal = document.getElementById('myModal');
                                var modal2 = document.getElementById('myModal2');
                                var btn = document.getElementById("myBtn");
                                var span = document.getElementsByClassName("close")[0];
                                var btn2 = document.getElementById("btn2");

                				function pagar() {

                                    if (document.getElementById('tarjeta').value != "") {
                                        modal.style.display = "block";
                                        setTimeout(myFunction2, 1500);
                                    }
                                }//pagar
                                btn2.onclick = function() {
                                    modal2.style.display = "none";
                                }//btn2 on click

                                function myFunction2() {
                                    modal.style.display = "none";
                                    modal2.style.display = "block";
                                }//myFunction2
</script>

                            @* Fin modal *@



                        </div>
                        <br /><br />

                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#mostrar").click(function () {
            $('#target').show(3000);
            $('.target').show("slow");
        });
        $("#ocultar").click(function () {
            $('#target').hide(3000);
            $('.target').hide("fast");
        });
        $("#cedula").on("input", function () {
            //alert("Change to " + this.value);
            var cedulaCliente = this.value;
            if (this.value.length == 11) {
                //alert("Cedula envío: "+cedula);
                $.ajax({
                    type: "POST",
                    url: "http://localhost:53128/Reservar/CargarDatosCliente",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ cedula: cedulaCliente }),
                    success: function (data) { //recibe los datos que vienen dentro de la consulta
                        if (data != null) {
                            var datos = data.split("/");
                            document.getElementById('nombre').value = datos[0];
                            document.getElementById('apellidos').value = datos[1];
                            document.getElementById('email').value = datos[2];
                        }
                    },//success
                    error: function (data) {
                        alert("ERR: ");
                    },//error
                });//ajax
            }//if (this.value.length == 11)
        });//cedula.on
    });
</script>

