@{
    ViewBag.Title = "AdministrarHabitaciones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<HotelPatito.Models.Tipadas.AdministrarHabitacion> tipo = ViewBag.Tipo;
}

<link href="~/css/table-style.css" rel='stylesheet' type='text/css' />

<link rel="shortcut icon" href="favicon.ico">
<!-- Animate.css -->
<link rel="stylesheet" href="~/css-facilidades/animate.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="~/css-facilidades/bootstrap.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="~/css-facilidades/icomoon.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="~/css-facilidades/paginacion.css">
<!-- Theme style  -->
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css-facilidades/magnific-popup.css">
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">Administrar Habitaciones</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div id="fh5co-wrap">
    <div class="fh5co-section">
        <div class="container">
            <br><br>
            @foreach (var tipoHabitacion in tipo)
            {
                <h2>
                    @tipoHabitacion.nombre_Tipo_Habitacion
                </h2>
                <p><a href="@Url.Action("ActualizarHabitacion", "Habitacion", new { nombreTipoHabitacion = @tipoHabitacion.nombre_Tipo_Habitacion })">cambiar descripcion </a></p>

                <table>
                    <tr>
                        <th>
                            @Html.Label("Numero de Habitacion")
                        </th>
                        <th>
                            @Html.Label("Estado")
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                    @foreach (var habitacion in tipoHabitacion.habitaciones)
                    {
                        <tr>
                            <td>@habitacion.numero_Habitacion</td>
                            @if (@habitacion.estado_Habitacion == "Disponible")
                            {
                                <td>@Html.CheckBox("a", true)</td>
                            }
                            else
                            {
                                <td>@Html.CheckBox("a", false)</td>
                            }
                            <td>Activa?</td>
                        </tr>
                    }

                </table>
            }

            <br><br>
        </div>
    </div>

</div>
