@{
    ViewBag.Title = "AdministrarHabitaciones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<HotelPatito.Models.Tipadas.AdministrarHabitacion> tipo = ViewBag.Tipo;
}


<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">Administrar Habitaciones</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div id="fh5co-wrap">
    <div class="fh5co-section">
        <div class="container">
            <br><br>
            @foreach (var tipoHabitacion in tipo)
            {
                <h2>
                    @tipoHabitacion.nombre_Tipo_Habitacion
                </h2>
                <p><a href="@Url.Action("ActualizarHabitacion", "Habitacion", new { nombreTipoHabitacion = @tipoHabitacion.nombre_Tipo_Habitacion })">cambiar descripcion </a></p>

                <table class="table table-responsive">
                    <tr class="success">
                        <th>
                            @Html.Label("Numero de Habitacion")
                        </th>
                        <th>
                            @Html.Label("Estado")
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                    @foreach (var habitacion in tipoHabitacion.habitaciones)
                    {
                        <tr>
                            <td>@habitacion.numero_Habitacion</td>
                            @if (@habitacion.estado_Habitacion == "Disponible")
                            {
                                <td>@Html.CheckBox("a", true, new { @disabled = "disabled" })</td>
                            }
                            else
                            {
                                <td>@Html.CheckBox("a", false, new { @disabled = "disabled" })</td>
                            }
                            <td>Activa?</td>
                        </tr>
                    }

                </table>
            }

            <br><br>
        </div>
    </div>

</div>
