@model HotelPatito.Models.Tipadas.FacilidadesConImagenes


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">Facilidades</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
@foreach (var habitacion in Model.facilidades)
{

    if (@habitacion.nombre_Facilidad == "Bar")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesBar)
                        {
                        var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                        var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                        <div class="col-md-5">
                            <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                        </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Cafeterías")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesCafeteria)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Zonas temáticas infantiles")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesInfantil)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Jacuzzi")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesJacuzzi)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Canchas de Tenis")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesTenis)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Restaurante")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesRestaurante)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
    if (@habitacion.nombre_Facilidad == "Piscinas")
    {
        <div id="fh5co-wrap">
            <div class="fh5co-section">
                <div class="container">
                    <div class="row">
                        @foreach (var imagen in Model.imagenesPiscina)
                        {
                            var base64ImagenHotel = Convert.ToBase64String(imagen.imagen_Imagen);
                            var imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                            <div class="col-md-5">
                                <img src="@imgSrcImagenHotel" width="400" height="400" class="img-responsive">
                            </div>
                        }
                        <div class="col-md-7">
                            <h2>@habitacion.nombre_Facilidad</h2>
                            <p>
                                @habitacion.descripcion_Facilidad
                            </p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    }
}