@model HotelPatito.Models.Tipadas.Hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobreNosotros_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobreNosotros_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitud_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitud_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitud_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitud_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comoLlegar_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comoLlegar_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aptoPostal_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aptoPostal_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_Hotel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nombre_Hotel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
